###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*          text=auto encoding=UTF-8

*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf merge=union
*.csproj   text merge=union